.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# ignore regex for private info in obsidian vault
content/**/Personal/
content/Work & Career/Interviews & Job Search
_remotely-save-metadata-on-remote.json
content/Mood Board
content/References & Vault
content/Videos
